annotated-types
asgiref
Django
django-cors-headers
django-ninja
djangorestframework
djangorestframework_simplejwt
djongo
pillow
pydantic
pydantic_core
PyJWT
pymongo
python-dotenv
pytz
sqlparse
typing-inspection
typing_extensions
